.App {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Todo {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.Todoinput {
  display: flex;
  flex-direction: row;
}